<div class="col-sm-6 col-md-6 col-lg-6">
		<div class='panel panel-default'>
			<div class="panel-heading">
				<h3 class="panel-title"><b>{{tournament.title}}</b></h3>
			</div>
			
		  	<ul class="list-group">
			    <li class="list-group-item">Date: {{tournament.date}}</li>
			    <li class="list-group-item">Location: {{tournament.location}}</li>
			    <li class="list-group-item">Divisions: {{tournament.divisions}}</li>
			    <li class="list-group-item"><a class="btn btn-primary" href="http://www.volleyamerica.com/VA-Choose-League.aspx" target="_blank" role="button">Register</a></li>

			</ul>
		</div>
</div>
